.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pdfform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    
}

.error{
    color: red;
    font-size: 18px;
}






